{% extends "_template.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
{% if is_completed %}
<div>Password change success!!! click to go <a href="/">home</a></div>
{% else %}
<div>
    <form id="change-password-form" method="POST" action="/change_password">
        <input type="hidden" name="ott" value="{{ott}}" />
        <input type="password" name="password" placeholder="Password" required />
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
        <button type="submit">Login</button>
    </form>
</div>
{% endif %}
{% endblock %}